<div class="client-details">
  <h3>Top Clients</h3>
  Client Name - Total Shipments
  <ul>
    <% @user.clients.top_5.each do |client| %>
      <li>
        <%= link_to "#{client.name}", user_client_path(current_user, client) %> - <%= client.shipments.count %>
      </li>
    <% end %>
  </ul>
</div>
<div class="client-details">
  <h3>Top Drivers</h3>
  Driver Name - Total Shipments
  <ul>
    <% @user.drivers.top_5.each do |driver| %>
      <li>
        <%= link_to "#{driver.name}", user_driver_path(current_user, driver) %> - <%= driver.shipments.uniq.size %>
      </li>
    <% end %>
  </ul>
</div>
