<div id="filter-date">
  <input id="date-filter-value" type="date" value="<%= Date.today %>"></input>
  <button id="date-filter">Refresh</button>
</div>
<h4><span id="driver-title">Drivers</span>
<span id="A-shipment-title">Assigned Shipments</span>
<span id="U-shipment-title">Unassigned Shipments</span></h4>
<div id="driver-list">
  <table id="drivers">
    <thead>
      <tr>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td id="<%= driver.id %>"><%= driver.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="assigned-shipments">
  <table id="A-shipments">
    <thead>
      <tr>
        <td>Id</td>
        <td>Client Name</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody id="assigned-shipment-list">
    </tbody>
  </table>
</div>
<div id="unassigned-shipments">
  <table id="U-shipments">
    <thead>
      <tr>
        <td>Id</td>
        <td>Client Name</td>
        <td>Pickup Date</td>
        <td>Delivery Date</td>
      </tr>
    </thead>
    <tbody id="unassigned-shipment-list">
    </tbody>
  </table>
</div>
<div id="new-shipment">

</div>
<div id="assigned-shipment-details">
  <p id="assigned-shipment-reference"></p>
  <br>
  <p id="assigned-shipment-pickup-date"></p>
  <p id="assigned-shipment-pickup-company"></p>
  <p id="assigned-shipment-pickup-address"></p>
  <p id="assigned-shipment-pickup-city"></p>
  <p id="assigned-shipment-pickup-driver"></p>
  <br>
  <p id="assigned-shipment-delivery-date"></p>
  <p id="assigned-shipment-delivery-company"></p>
  <p id="assigned-shipment-delivery-address"></p>
  <p id="assigned-shipment-delivery-city"></p>
  <p id="assigned-shipment-delivery-driver"></p>
</div>
<div id="unassigned-shipment-details">
  <p id="unassigned-shipment-reference"></p>
  <p id="unassigned-shipment-status"></p>
  <br>
  <p id="unassigned-shipment-pickup-company"></p>
  <p id="unassigned-shipment-pickup-address"></p>
  <p id="unassigned-shipment-pickup-city"></p>
  <p id="unassigned-shipment-pickup-driver"></p>
  <br>
  <p id="unassigned-shipment-delivery-company"></p>
  <p id="unassigned-shipment-delivery-address"></p>
  <p id="unassigned-shipment-delivery-city"></p>
  <p id="unassigned-shipment-delivery-driver"></p>
</div>
