<h2><%= @item.name %>'s Details</h2>
<p>Description: <%= @item.description %></p>
<p>Client: <%= link_to "#{@item.client.name}", user_client_path(current_user, @item.client) %></p>
<%= link_to "Edit this item", edit_user_item_path(current_user, @item) %>
