<h2>Drivers</h2>
<%= link_to "Create new driver", new_user_driver_path %><br><br>
<table>
  <thead>
    <tr>
      <td>Driver Name</td>
      <td>License Type</td>
      <td>Driver Type</td>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to "#{driver.name}", user_driver_path(current_user, driver) %></td>
        <td><%= driver.license %></td>
        <td><%= driver.driver_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
