// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.head{
  width: 100%;
}
.client-items{
  width: 50%;
  float: left;
}
.shipment-details{
  width: 50%;
  float: left;
}
table {
  border: 1px solid black;
}
table td {
  padding: 0 5px;
}
