#filter-date{
  width: 100%;
  text-align: center;
}

#driver-list{
  width: 12%;
  float: left;
  height: 400px;
  overflow: auto;
}

#driver-title{
  display: inline-block;
  width: 12%;
}

.selected-driver {
  background-color: lightblue;
}

.selected-shipment {
  background-color: lightblue;
}

#assigned-shipments{
  width: 18%;
  float: left;
  height: 400px;
  overflow: auto;
}

#A-shipment-title{
  display: inline-block;
  width: 18%;
}

#unassigned-shipments{
  width: 30%;
  float: left;
  height: 400px;
  overflow: auto;
}

#U-shipment-title{
  display: inline-block;
  width: 30%;
}

#new-shipment{
  width: 40%;
  float: left;
}

#assigned-shipment-details{
  width: 30%;
  float: left;
}
#unassigned-shipment-details{
  width: 30%;
  float: left;
}
