#filter-date{
  width: 100%;
  text-align: center;
}

#driver-list{
  width: 15%;
  float: left;
}

#assigned-shipments{
  width: 20%;
  float: left;
}

#unassigned-shipments{
  width: 45%;
  float: left;
}

#new-shipment{

}
