#filter-date{
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

#driver-list{
  width: 15%;
  float: left;
  border: 1px solid black;
  height: 400px;
  overflow: auto;
}

#driver-title{
  display: inline-block;
  width: 15%;
}

.selected-driver {
  background-color: lightblue;
}

.selected-shipment {
  background-color: lightblue;
}

#assigned-shipments{
  width: 20%;
  float: left;
  border: 1px solid black;
  height: 400px;
  overflow: auto;
}

#A-shipment-title{
  display: inline-block;
  width: 20%;
}

#unassigned-shipments{
  width: 35%;
  float: left;
  border: 1px solid black;
  height: 400px;
  overflow: auto;
}

#U-shipment-title{
  display: inline-block;
  width: 35%;
}

#new-shipment{
  width: 30%;
  float: left;
  border: 1px solid black;
}

#assigned-shipment-details{
  width: 35%;
  float: left;
  border: 1px solid black;
}
#unassigned-shipment-details{
  width: 35%;
  float: left;
  border: 1px solid black;
}
